# Miscellaneous
*.class
*.log
*.pyc
*.pyo
*.swp
.DS_Store
Thumbs.db
ehthumbs.db
.Trash-*/
__pycache__/
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Gradle files
.gradle/
**/gradle/
**/gradlew
**/gradlew.bat

# Gradle build output
/build/
**/build/

# Local configuration properties
local.properties
settings.gradle
settings.gradle.kts
gradle.properties

# Virtual Environments
venv/
env/
ENV/
.env/
.venv/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
build/
node_modules/
